FIREBASE_API_KEY=api_key
FIREBASE_AUTH_DOMAIN=firebase_name.firebaseapp.com
FIREBASE_DATABASE_URL=https://firebase_name.firebaseio.com
FIREBASE_PROJECT_ID=firebase_name
FIREBASE_STORAGE_BUCKET=firebase_name.appspot.com
FIREBASE_MESSAGING_SENDER_ID=sender_id
FIREBASE_APP_ID=app_id
FIREBASE_MESUREMENT_ID=measurement_id
GOOGLE_APPLICATION_CREDENTIALS="firebase_key.json"
BASE_URL="https://firebase_name.web.app"
